.container_services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.top_section h2 {
    background: linear-gradient(6000deg, var(--color-orange) 50%, var(--color-orange-gradiant) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container_services .card {
    width: 30%;
    padding: 50px 40px;
    border-radius: 15px;
    transition: var(--transition);
    margin-bottom: 40px;
    display: flex;
    border: 0.5px solid var(--color-primary);
    flex-direction: column;
    align-items: center;
    text-align: center;

    backdrop-filter: blur(6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, border-color 0.3s ease;
    background: linear-gradient(180deg, var(--color-primary), var(--color-bg-variant));

}


.container_services .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(98, 129, 65, 0.35);
    border-color: var(--color-primary);
    background: rgba(180, 192, 149, 0.1);
    color: var(--color-orange);

}

.container_services .card:hover h3 {
    background: linear-gradient(135deg, var(--color-orange) 50%, var(--color-orange-gradiant) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.container_services .icon {
    font-size: 70px;
    margin-bottom: 20px;
    color: var(--color-dark);

}

.container_services h3 {
    margin-bottom: 20px;
    color: var(--color-bg);
}

.container_services p {
    font-size: 14px;
}

/* media queries tablet */

@media (max-width : 1024px) {
    .container_services .card {
        width: 48%;
        margin-bottom: 40px;
    }
}


/* media queries Mobile */

@media (max-width : 600px) {
    .container_services .card {
        width: 100%;
    }
}