.projects_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.projects_container .portfolio_item {
    width: 31%;
    margin-bottom: 50px;
    /* background: var(--color-bg-variant); */
    background: linear-gradient(180deg, var(--color-primary), var(--color-bg-variant));
    padding: 25px;
    border-radius: 20px;
    border: 0.5px solid var(--color-bg-variant);
    transition: var(--transition);
    backdrop-filter: blur(6px);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease, border-color 0.3s ease;


}

.portfolio_item_btns a {
    color: var(--color-bg);

    background: linear-gradient(135deg, var(--color-bg-variant), var(--color-primary));

    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.3);
}

.portfolio_item_btns a:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);

}

.portfolio_item_img {
    border-radius: 15px;
    overflow: hidden;


}

.projects_title {
    text-align: center;
}

.projects_title h2 {
    display: inline-block;
    background: linear-gradient(90deg, var(--color-orange) 0%, var(--color-orange-gradiant) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.portfolio_item h2 {
    margin: 22px 0 35px;
    background: linear-gradient(135deg, var(--color-orange) 20%, var(--color-orange-gradiant) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.portfolio_item h3 {
    margin: 2rem 0 2.6rem;
    color: var(--color-dark);
}


/* media queries tablet */

@media (max-width : 1024px) {
    .projects_container .portfolio_item {
        width: 48%;
    }
}


/* media queries Mobile */

@media (max-width : 600px) {
    .projects_container .portfolio_item {
        width: 100%;
    }
}