.container_skills {
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.container_skills .card_skill {
    width: 24%;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--color-bg-variant);
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.container_skills .card_skill:hover {

    box-shadow: 0 8px 20px rgba(98, 129, 65, 0.35);
}

.container_skills .card_skill .icon img {
    transition: transform 0.3s ease;
}

.container_skills .card_skill .icon:hover img {
    transform: scale(1.1);
}

.container_skills .card_skill .icon {
    width: 65px;
    height: 65px;
    padding: 7px;
    border-radius: 10px;
    background: var(--color-bg-variant);


}


.container_skills .card_skill h4 {
    font-size: 14px;

}

/* media queries tablet */

@media (max-width : 1024px) {
    .container_skills .card_skill {
        width: 48%;
    }
}


/* media queries Mobile */

@media (max-width : 600px) {
    .container_skills .card_skill {
        width: 49%;
    }

    .container_skills .card_skill .icon {
        width: 50px;
        height: 50px;
        padding: 5px;

    }

    .container_skills .card_skill h4 {
        font-size: 13px;

    }
}