.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;

}

.top_section h2 {
    background: linear-gradient(90deg, var(--color-orange) 0%, var(--color-orange-gradiant) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

}

.about_content h2 {
    background: linear-gradient(90deg, var(--color-orange) 50%, var(--color-orange-gradiant) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.about_content h1 {
    color: var(--color-green);
}

.about_me_image {
    transform: rotate(10deg);
    border-radius: 2rem;
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
}

.about_me_image:hover {
    transform: rotate(0deg);
}

.about_content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-dark);
    line-height: 1.8;

}

.about_content a {
    background: linear-gradient(135deg, var(--color-primary), var(--color-bg-variant));
}

/* media Query */

@media (max-width:1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about_content p {
        margin: 1rem 0 1.5rem;
    }
}


@media (max-width:600px) {
    .about_me {
        width: 65%;
        margin: 0rem auto 3rem;
    }

    .about_cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about_content {
        text-align: center;
    }

    .about_content p {
        margin: 1.5rem 0;
    }
}