.home {
    height: 100vh;
    padding-top: 60px;
    overflow: hidden;
}


.home-container {
    text-align: center;
    height: 100%;
    position: relative;
    backdrop-filter: blur(6px);
    border-radius: 1rem;
    padding: 2rem;

}

.gradient-name {
    display: inline-block;


    background: linear-gradient(90deg,
            var(--color-orange) 0%,
            var(--color-orange-gradiant) 50%,
            var(--color-orange) 100%);

    background-size: 200% auto;
    background-position: 0% center;

    -webkit-background-clip: text;
    background-clip: text;

    color: transparent;
    -webkit-text-fill-color: transparent;

    font-weight: 700;
    letter-spacing: 1px;

    animation: shine 4s linear infinite;
}


@keyframes shine {
    to {
        background-position: 200% center;
    }
}

.btns {
    display: flex;
    gap: 1.2rem;
    margin-top: 2.5rem;
    justify-content: center;
}

.btn-primary {
    background: linear-gradient(140deg, var(--color-primary-variant), var(--color-primary));
    color: var(--color-bg);
    border: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease;
}

.home-container h4 {
    font-size: 1.5rem;
    color: var(--color-green);
}



.home-container .me {
    width: 300px;
    height: 350px;
    background: linear-gradient(var(--color-primary), transparent);

    border-radius: 30rem 30rem 0 0;
    margin: 40px auto;
    padding: 0.5rem 0.1rem 1.5rem 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);


}


.scroll_down {
    position: absolute;
    right: -35px;
    bottom: 80px;
    transform: rotate(90deg);
    font-weight: 300;
    color: var(--color-primary);
    transition: var(--transition);
}

.home_socials {
    display: flex;
    flex-direction: column;
    left: 0;
    bottom: 50px;
    position: absolute;
    gap: 0.8rem;
    align-items: center;
}

.home_socials::after {

    background: var(--color-primary);

}

.home_socials a {
    font-size: 25px;
    color: var(--color-green);
    transition: var(--transition);

}

.home_socials a:hover {
    color: var(--color-dark);
    padding: 1rem;
    backdrop-filter: blur(4px);
}



/* Responsive*/
@media (max-width:1024px) {
    .home {
        height: 68vh;
    }

}

@media (max-width:600px) {
    .home {
        height: auto;
        padding-top: 5rem;


    }

    .home_socials,
    .scroll_down {
        display: none;
    }

    .home h1 {
        font-size: 2rem;
    }

    .home-container .me {
        max-width: 100%;
        width: 300px;
        height: 380px;
    }

}