.contact_container {
    width: 60%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact_options {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact_option {
    background: linear-gradient(135deg, var(--color-bg-variant), var(--color-primary));
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);

    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: left;
}

.contact_option a {
    color: var(--color-dark);
}

.contact_option a:hover {
    transform: scale(1.1);
}

.contact_option:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.icon_link {
    font-size: 2.5rem;
    display: flex;
    align-items: center;
}

.text_group h5 {
    margin: 0;
    font-size: 1rem;

}

.text_group h4 {
    margin: 0;
    font-size: 0.85rem;
    font-weight: normal;
    color: var(--color-dark);

}

.contact_container form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact_container form input,
.contact_container form textarea {
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-dark);
}

.contact_container form button {
    font-size: 18px;
    padding: 14px 30px;
    background: linear-gradient(135deg, var(--color-primary), var(--color-bg-variant));
}

/* .success_message {
    margin-top: 15px;
    font-size: 1rem;
    color: #4CAF50;
    text-align: center;
} */
/* نص داخل الـ toast */
.custom-toast-body {
    color: var(--color-dark);
    font-size: 0.95rem;
    font-weight: 500;
    text-align: center;
}

/* toast نجاح */
.custom-toast-success {
    background: var(--color-primary);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 12px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* toast خطأ */
.custom-toast-error {
    background: #ff4d4d;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    padding: 12px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


@media (max-width:1024px) {
    .contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media (max-width:600px) {
    .contact_container {
        width: var(--container-width-ms);
    }
}