footer {
    background: linear-gradient(135deg, var(--color-bg-variant), var(--color-primary));
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    margin-top: 100px;
}

footer a {
    color: var(--color-bg);
}


.footer_logo {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
    display: inline-block;

    background: linear-gradient(to right,
            var(--color-orange) 10%,

            var(--color-orange-gradiant) 50%,

            var(--color-orange) 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    font-weight: 700;
    letter-spacing: 1px;

}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 30px;
}

.footer_socials {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
}

.footer_socials a {
    background: var(--color-bg);
    color: var(--color-dark);
    padding: 12px;
    border-radius: 10px;
    display: flex;
    border: 1px solid transparent;
    transition: var(--transition);
}

.footer_socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer_copyright {
    margin-bottom: 4rem;
    color: var(--color-bg);
}

.footer_copyright a {
    color: var(--color-dark);
    font-size: medium
}



@media (max-width:600px) {
    .permalinks {
        flex-direction: column;
        gap: 20px;
    }

}