@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body.dark {
    --color-bg: #233221;
    --color-bg-gradiant: #2f3d20;
    --color-bg-variant: rgba(255, 255, 255, 0.08);
    --color-primary: #9ba582;
    --color-primary-variant: rgba(76, 179, 107, 0.4);
    --color-orange: #af9631;
    --color-orange-gradiant: #cfb680;
    --color-green: #9fb28f;
    --color-dark: #F5F7F4;
    --transition: all 0.4s ease;
    --container-width-lg: 80%;
    --container-width-md: 86%;
    --container-width-ms: 90%;
}

:root {
    --color-bg: #F9F5F0;
    --color-bg-gradiant: #f2e7c5;
    --color-bg-variant: rgba(143, 181, 148, 0.6);
    --color-primary: #9ba582;
    --color-primary-variant: rgba(76, 179, 107, 0.4);
    --color-orange: #ad842c;
    --color-orange-gradiant: #cfb23c;
    --color-green: #344F1F;
    --color-dark: #1b2317a6;
    --transition: all 0.4s ease;
    --container-width-lg: 80%;
    --container-width-md: 86%;
    --container-width-ms: 90%;

}

body {
    font-family: "Poppins", sans-serif;
    background: var(--color-bg);
    /* لون داكن أساسي */
    background: linear-gradient(180deg,
            var(--color-bg) 0%,
            /* فوق */
            var(--color-bg-gradiant) 50%,
            /* منتصف الغرادينت */
            var(--color-bg) 100%
            /* تحت */
        );
    line-height: 1.7;
    /* background-image: url(assets/bg-texture.png); */
    color: var(--color-dark);

}

body.dark .card:hover {
    background: rgba(255, 255, 255, 0.12);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgba(98, 129, 65, 0.6);
}


.card {
    background: var(--color-bg-variant);

    backdrop-filter: blur(6px);
}

.card:hover {
    background: rgba(98, 129, 65, 0.25);
    transform: translateY(-5px);
}

.container {
    width: var(--container-width-lg);

    margin: 0 auto;
}

h1,
h2 {
    letter-spacing: 0.5px;
}


h3 {
    color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 6rem;
}

section:first-of-type {
    margin-top: 4rem;
}

.text-light {
    color: var(--color-dark);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-dark);
}

.btn {
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    color: var(--color-primary);
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    backdrop-filter: blur(6px);
    box-shadow: 0 4px 20px rgba(98, 129, 65, 0.35);
    transform: translateY(-2px);
}


.btn:hover {
    background: linear-gradient(6000deg, var(--color-dark), var(--color-primary));
    color: var(--color-bg);
    box-shadow: 0 4px 20px rgba(98, 129, 65, 0.35);
    transition: var(--transition), box-shadow 0.3s ease-in-out;
}

.btn-primary {
    background: linear-gradient(90deg, var(--color-bg-variant), var(--color-primary));
    color: var(--color-bg);
}

.btn-primary:hover {
    background: linear-gradient(200deg, var(--color-dark), var(--color-primary));
    color: var(--color-bg);
    box-shadow: 0 4px 20px rgba(98, 129, 65, 0.35);
    transition: var(--transition), box-shadow 0.3s ease-in-out;
}



img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.top_section h2 {
    text-align: center;
    margin-bottom: 3rem;

}

.top_section h5 {
    text-align: center;
    color: var(--color-dark);

}

p a {
    text-decoration: underline;
    text-underline-offset: 4px;
}

/* media queries tablet */

@media (max-width : 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}


/* media queries Mobile */

@media (max-width : 600px) {
    .container {
        width: var(--container-width-ms);
    }

    section>h2 {
        margin-bottom: 2rem;
    }

    .top_section h2 {
        margin-bottom: 2rem;

    }
}